@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Roboto:300,400&display=swap');

@font-face {
  font-family: "AmostelySignature";
  src: url("/fonts/AmostelySignature.ttf");
  }

body, html {
  font-family: "Roboto", sans-serif;
}

a:hover {
  text-decoration: none;
}

/* Heading & nav  */

.hero{
  height: 100vh;

 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.hero-header{
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.hero-heading{
  font-family: 'Playfair Display SC';
  font-size: 80px;
  margin-bottom: 30px;
}

header{
  padding-top: 50px;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signature{
  color: black;
  text-align: center;
  user-select: none;
}


.signature-heading{
  font-family: 'AmostelySignature', cursive;
  font-size: 80px;
  margin-bottom: 30px;
}

.signature-subhead{
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.navbar{
  background-color: #384147;
}

.navbar-toggler i{
  color: #fff;
  font-size: 25px;
}

.navbar-toggler .fa-times{
  display: none;
}

.navbar-toggler.menu-open  .fa-bars{
  display: none;
}

.navbar-toggler.menu-open  .fa-times{
  display: block;
}

.navbar-nav{
  padding: 20px;
} 

.nav-link{
  color: #fff;
  text-transform: uppercase;
  transition: opacity .5s;
  font-size: 12px;
}

.nav-link:hover{
  color: maroon;
}

/* About */

.pattern{
  min-height: 30vh;
  width: auto;
  background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.59' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.about-content{

}

.about-description{
  width: 100%;
  background-color: #fff;
  padding: 40px;
  outline: 5px solid rgba(56, 65, 71, 0.5);
  outline-offset: -5px;
  order: 1;
  margin-top: 5px;
}

.about-image{
  order: 2;
}

.about-image img{
  width: 100%;
  height: auto;
  display: block;
}

.about-image a::after{
  font-family: 'Font Awesome 5 Free';
  content: "\f35d";
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: maroon;
  font-size: 25px;
  z-index: 101;
  width: 70px;
  height: 70px;
  border: 3px solid maroon;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .5s;
}

.about-image a:hover::after{
  opacity: .7;
}


/* Projects */

section h1{
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}


/* Contact */

.contact{
  height: 80vh;
}


.jumbotron{
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */


footer {
  background-color: #151515;
  height: 20vh;
  color: #fff;
}

.signature-footer-heading{
  font-family: 'AmostelySignature', cursive;
  font-size: 50px;
  margin-bottom: 30px;
  color: #fff;
}

.signature-footer-subhead{
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

footer h5{
  font-family: 'Playfair Display SC', sans-serif;

}


a.text-muted:hover{
  color: maroon !important;
}


/* Responsive */

@media screen and (min-width: 768px) {
  .navbar{
    background-color: transparent;
  }
  .navbar-nav{
    padding: 0;
  }
  .nav-link{
    color: #384147;
  }

  nav:hover .nav-link:not(:hover){
    opacity: .5;
  }

  .about-content{
    position: relative;
    display: block;
  }

  .about-description{
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    width: 60%;
    outline-offset: -10px;
  }

  .about-image img{
    width: 70%;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .about-description{
    top: 50%;
    width: 40%;
    outline: 10px solid rgba(56, 65, 71, 0.5);
    offset: -20px;
    
  }

  .about-image{
    width: 80%;
  }


}

.project-1{
  margin-bottom: 200px;
}

